<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwg.gp.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.dwg.gp.bean.Manager">
    <id column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="point_id" jdbcType="INTEGER" property="pointId" />
  </resultMap>

  <resultMap id="BaseResultMapWithPoint" type="com.dwg.gp.bean.Manager" extends="BaseResultMap">
    <association property="point" javaType="com.dwg.gp.bean.Point">
      <result column="pname" property="name"/>
      <result column="pid" property="id"/>
      <result column="ptype" property="type"/>
      <result column="plocation" property="location"/>
    </association>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    manager_id, point_id
  </sql>
  <select id="selectByExample" parameterType="com.dwg.gp.bean.ManagerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapWithPoint">
    select 
    manager_id, point_id,point.id pid,point.name pname,point.type ptype,point.location plocation
    from manager , point
    where manager_id = #{managerId,jdbcType=INTEGER} and point.id=manager.point_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manager
    where manager_id = #{managerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dwg.gp.bean.ManagerExample">
    delete from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dwg.gp.bean.Manager">
    insert into manager (manager_id, point_id)
    values (#{managerId,jdbcType=INTEGER}, #{pointId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dwg.gp.bean.Manager">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="pointId != null">
        point_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="pointId != null">
        #{pointId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dwg.gp.bean.ManagerExample" resultType="java.lang.Long">
    select count(*) from manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manager
    <set>
      <if test="record.managerId != null">
        manager_id = #{record.managerId,jdbcType=INTEGER},
      </if>
      <if test="record.pointId != null">
        point_id = #{record.pointId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manager
    set manager_id = #{record.managerId,jdbcType=INTEGER},
      point_id = #{record.pointId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwg.gp.bean.Manager">
    update manager
    <set>
      <if test="pointId != null">
        point_id = #{pointId,jdbcType=INTEGER},
      </if>
    </set>
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwg.gp.bean.Manager">
    update manager
    set point_id = #{pointId,jdbcType=INTEGER}
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
</mapper>