<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwg.gp.dao.MerchandiseMapper">
    <resultMap id="BaseResultMap" type="com.dwg.gp.bean.Merchandise">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="volumn" jdbcType="DOUBLE" property="volumn"/>
        <result column="weight" jdbcType="DOUBLE" property="weight"/>
        <result column="startpoint" jdbcType="INTEGER" property="startpoint"/>
        <result column="endpoint" jdbcType="INTEGER" property="endpoint"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" extends="BaseResultMap" type="com.dwg.gp.bean.Merchandise">
        <result column="qrimg" jdbcType="LONGVARBINARY" property="qrimg"/>
    </resultMap>

    <resultMap id="BaseResultMapWithPoint" type="com.dwg.gp.bean.Merchandise" extends="ResultMapWithBLOBs">
        <association property="startpointobject" javaType="com.dwg.gp.bean.Point">
            <result column="startname" property="name"/>
            <result column="startid" property="id"/>
            <result column="starttype" property="type"/>
            <result column="startlocation" property="location"/>
        </association>
        <association property="endpointobject" javaType="com.dwg.gp.bean.Point">
            <result column="endname" property="name"/>
            <result column="endid" property="id"/>
            <result column="endtype" property="type"/>
            <result column="endlocation" property="location"/>
        </association>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, volumn, weight, startpoint, endpoint, state
  </sql>
    <select id="selectByExample" parameterType="com.dwg.gp.bean.MerchandiseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from merchandise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchandise
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMapWithPoint">
        select merchandise.id,volumn,weight,startpoint,endpoint,state,p1.id startid,p2.id endid,p1.name startname,p2.name endname,
        p1.type starttype,p2.type endtype,p1.location startlocation,p2.location endlocation
        from point p1 join merchandise on p1.id=merchandise.startpoint join point p2 on merchandise.endpoint=p2.id
    </select>

    <select id="selectAllByShoudendPointId" parameterType="int" resultMap="BaseResultMapWithPoint">
        select merchandise.id,volumn,weight,startpoint,endpoint,state,p1.id startid,p2.id endid,p1.name startname,p2.name endname,
        p1.type starttype,p2.type endtype,p1.location startlocation,p2.location endlocation
        from point p1 join merchandise on p1.id=merchandise.startpoint join point p2 on merchandise.endpoint=p2.id
        where merchandise.endpoint=#{shouldendpoint} and state!=2
    </select>

    <select id="selectMerchandiseByPId" resultMap="BaseResultMapWithPoint">
        select merchandise.id,volumn,weight,startpoint,endpoint,state,p1.id startid,p2.id endid,p1.name startname,p2.name endname,
        p1.type starttype,p2.type endtype,p1.location startlocation,p2.location endlocation
        from point p1 join merchandise on p1.id=merchandise.startpoint join point p2 on merchandise.endpoint=p2.id
        where merchandise.startpoint=#{id} and merchandise.state=1
    </select>

    <select id="selectAllNeedDispatche" resultMap="BaseResultMapWithPoint">
        select merchandise.id,volumn,weight,startpoint,endpoint,state,p1.id startid,p2.id endid,p1.name startname,p2.name endname,
        p1.type starttype,p2.type endtype,p1.location startlocation,p2.location endlocation
        from point p1 join merchandise on p1.id=merchandise.startpoint join point p2 on merchandise.endpoint=p2.id and state=1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchandise
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteByExample" parameterType="com.dwg.gp.bean.MerchandiseExample">
        delete from merchandise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>


    <insert id="insertForId" parameterType="com.dwg.gp.bean.Merchandise" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO merchandise
        (volumn,weight,STARTPOINT,ENDPOINT,state)
        VALUES(NULL,NULL,NULL,NULL,1)
    </insert>

    <insert id="insert" parameterType="com.dwg.gp.bean.Merchandise">
    insert into merchandise (id, volumn, weight, 
      startpoint, endpoint, state
      )
    values (#{id,jdbcType=INTEGER}, #{volumn,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, 
      #{startpoint,jdbcType=INTEGER}, #{endpoint,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.dwg.gp.bean.Merchandise">
        insert into merchandise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="volumn != null">
                volumn,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="startpoint != null">
                startpoint,
            </if>
            <if test="endpoint != null">
                endpoint,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="volumn != null">
                #{volumn,jdbcType=DOUBLE},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DOUBLE},
            </if>
            <if test="startpoint != null">
                #{startpoint,jdbcType=INTEGER},
            </if>
            <if test="endpoint != null">
                #{endpoint,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.dwg.gp.bean.MerchandiseExample" resultType="java.lang.Long">
        select count(*) from merchandise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update merchandise
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.volumn != null">
                volumn = #{record.volumn,jdbcType=DOUBLE},
            </if>
            <if test="record.weight != null">
                weight = #{record.weight,jdbcType=DOUBLE},
            </if>
            <if test="record.startpoint != null">
                startpoint = #{record.startpoint,jdbcType=INTEGER},
            </if>
            <if test="record.endpoint != null">
                endpoint = #{record.endpoint,jdbcType=INTEGER},
            </if>
            <if test="record.state != null">
                state = #{record.state,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update merchandise
        set id = #{record.id,jdbcType=INTEGER},
        volumn = #{record.volumn,jdbcType=DOUBLE},
        weight = #{record.weight,jdbcType=DOUBLE},
        startpoint = #{record.startpoint,jdbcType=INTEGER},
        endpoint = #{record.endpoint,jdbcType=INTEGER},
        state = #{record.state,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateForQrCode">
        update merchandise
        set qrimg=#{arg1}
        where id=#{arg0}
    </update>
    <update id="updateByMerchandise" parameterType="com.dwg.gp.bean.Merchandise">
         update merchandise set volumn=#{volumn},
         weight=#{weight},
         startpoint=#{startpoint},
         endpoint=#{endpoint}
         where id=#{id}
    </update>

    <update id="updateByMerchandiseForState" parameterType="int">
        update merchandise set state=2
        where merchandise.id=#{id}
    </update>

    <update id="updateDispatchedState" parameterType="int">
        update merchandise set state=3
        where merchandise.id=#{id}
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.dwg.gp.bean.Merchandise">
        update merchandise
        <set>
            <if test="volumn != null">
                volumn = #{volumn,jdbcType=DOUBLE},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DOUBLE},
            </if>
            <if test="startpoint != null">
                startpoint = #{startpoint,jdbcType=INTEGER},
            </if>
            <if test="endpoint != null">
                endpoint = #{endpoint,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dwg.gp.bean.Merchandise">
    update merchandise
    set volumn = #{volumn,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      startpoint = #{startpoint,jdbcType=INTEGER},
      endpoint = #{endpoint,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByMerchandiseIdForDeliver" parameterType="int">
       UPDATE deliver SET deliver.`state`=2
       WHERE deliver.`deliver_id` = (SELECT dispatch.`deliver_id` FROM dispatch WHERE dispatch.`merchandise_id`=#{id})
    </update>
</mapper>